@font-face {
  font-family: 'huakangsongti';
  src: url('./font/huakangsongti.eot');
  src: url('./font/huakangsongti.eot?#font-spider') format('embedded-opentype'), url('./font/huakangsongti.woff') format('woff'), url('./font/huakangsongti.ttf') format('truetype'), url('./font/huakangsongti.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
p, h1, h3 {
  font-family: 'huakangsongti';
}